<ng-container *ngIf="question">
  <div class="question">
    <div (click)="handleQuestionClick()" class="question-container">
      <div class="question-header">
        <div>
          <h3>{{ question.title }}</h3>
          <span>Posted by {{ postedBy?.username }}</span>
        </div>
        <span *ngIf="showDate">{{ question.createdAt | date: 'dd MMM yyyy HH:mm'}}</span>
        <div class="votes-badge" *ngIf="!showVoteBar">
          <mat-icon class="material-icons-outline">thumbs_up_down</mat-icon>
          {{ question.votes }}
        </div>
      </div>
      <p>{{ question.body | truncate: summary ? 350 : question.body?.length}}</p>
    </div>
    <app-vote *ngIf="showVoteBar" [question]="question" (updatedQuestion)="handleQuestionVotes($event)"></app-vote>
  </div>
</ng-container>
