.login-card {
    background-color: var(--element-main);
    padding: 16px;
    border-radius: 8px;
    display: flex;
    width: 300px;
    margin: 0 auto;
    flex-direction: column;
    border: 1px solid var(--border-light);
    box-shadow: 1px 4px 8px var(--border-dark);
      color: var(--text-primary);
  
      form{
          width: 100%;
          mat-form-field{
              width: 100%;
          }
      }
    h1 {
      text-align: center;
    }
  
    mat-form-field{
      color: var(--text-primary);
      mat-icon{
          color: var(--icon-primary);
      }
    }
  
    button{
      background-color: var(--primary);
    }
    span{
      cursor: pointer; color: var(--primary)
    }
  }
  
  @media only screen and (max-width: 600px) {
    .login-card {
        width: 250px;
    }
  }