<div class="container">
    <app-question [question]="question" [summary]="false"></app-question>
  
    <div class="comments-section">
      <ng-container *ngIf="isLoggedIn">
        <h2>Leave a comment</h2>
        <form [formGroup]="commentForm">
          <mat-form-field appearance="outline">
            <mat-label>Leave a comment</mat-label>
            <textarea
              formControlName="comment"
              matInput
              placeholder="Do not be rude..."
            ></textarea>
          </mat-form-field>
          <button
            type="button"
            (click)="onSubmit()"
            mat-raised-button
            color="primary"
          >
            Comment
          </button>
        </form>
      </ng-container>
  
      <h2>Comments ({{ comments.length }})</h2>
      <div class="login-comment-message" *ngIf="!isLoggedIn">
        <p>
          
          <span (click)="handleLogin()">Log in </span>
          to leave a comment.
        </p>
      </div>
      <div class="comments" *ngFor="let comment of comments">
        <div class="comment">
          <p>{{ comment.username }}</p>
          <p>{{ comment.comment }}</p>
          <p>{{ comment.commentedAt | date: "HH MMM, hh:mm" }}</p>
        </div>
      </div>
    </div>
  </div>
  